<div class="container_big-card">

<div class="big-card__photo">
<img
src="https://www.alura.com.br/artigos/assets/como-comecar-com-angular/como-comecar-com-angular.png"
height="200px"
alt=""
>
</div>

<div class="big-card__title">
<h1>Saiu a nova versão do Angular</h1>
</div>

<div class="big-card__description">
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis error quos aliquid,
  facere odit ducimus sint repellendus? Repellendus, veniam. Placeat molestiae at
  quisquam omnis molestias iure quidem voluptatem debitis voluptatibus.
</p>
</div>
</div>
